<% content_for :pre_menu do %>
<div class="fh5co-hero" data-section="home">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
        <div class="display-t">
            <div class="display-tc">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="animate-box">
                            <h1>O casamento</h1>
                            <h2>Dê &amp; Fred</h2>
                            <p><span>08.04.2018</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

<div id="fh5co-couple" class="fh5co-section-gray">
    <div class="container">
        <div class="row row-bottom-padded-md animate-box">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                    <img src="images/groom.jpg" class="img-responsive" alt="Noivo">
                    <h3>Fred</h3>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 nopadding">
                    <h2 class="amp-center"><i class="icon-heart"></i></h2>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                    <img src="images/bride.jpg" class="img-responsive" alt="Noiva">
                    <h3>Dê</h3>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center heading-section">
                    <h2>Estão casando</h2>
                    <p><strong>em 08 de abril de 2018 &mdash; Belo Horizonte, Minas Gerais</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-countdown">
    <div class="row">
        <div id="demo" class="col-md-8 col-md-offset-2 text-center animate-box">
            <p class="countdown">
                <span id="days"></span>
                <span id="hours"></span>
                <span id="minutes"></span>
                <span id="seconds"></span>
            </p>
        </div>
    </div>
</div>

<%= render "shared/rsvp" %>