<div id="fh5co-when-where" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h2>Onde &amp; Quando</h2>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-12 text-center animate-box">
                    <div class="wedding-events">
                        <div class="ceremony-bg" style="background-image: url(https://deefredstorage.blob.core.windows.net/deefred-outras/Colonial.jpg);"></div>
                        <div class="desc">
                            <h3>Cerimônia e Celebraç&atilde;o</h3>
                            <p><strong>Domingo, 08 de abril de 2018, 16:30 - Belo Horizonte / MG</strong></p>
                            <p>Em um lindo casarão colonial localizado na orla da pampulha, localizado na Avenida Otácilio Negr&atilde;o de lima, n˚ 16200</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="fh5co-map">
                        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Avenida%20Ot%C3%A1cilio%20Negr%C3%A3o%20de%20lima%2C%20n%CB%9A%2016200%2C%20Belo%20Horizonte%2C%20MG&key=AIzaSyA9X2xZY2HKeuQ4sSXrmWS19Af_yC22eVU" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%= render "shared/rsvp" %>