<div id="fh5co-when-where" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h2>Onde &amp; Quando</h2>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-12 text-center animate-box">
                    <div class="wedding-events">
                        <div class="ceremony-bg" style="background-image: url(images/wed-ceremony.jpg);"></div>
                        <div class="desc">
                            <h3>Cerimônia e Celebraç&atilde;o</h3>
                            <p><strong>Domingo, 08 de abril de 2018, 16:00 - Belo Horizonte / MG</strong></p>
                            <p>Em um lindo reino encantado na orla da pampula, localizado na Avenida Otácilio Negr&atilde;o de lima, n˚ x</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="map" class="fh5co-map"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="fh5co-started" style="background-image:url(images/cover_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center heading-section">
                    <h2>RSVP</h2>
                    <p>Por favor preencha o formulário abaixo informando se poderá comparecer. Obrigado!
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-10 col-md-offset-1">
                    <form class="form-inline">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="name" class="sr-only">Nome</label>
                                <input type="name" class="form-control" id="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="email" class="sr-only">E-mail</label>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block">Irei comparecer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>