
<% content_for :pre_menu do %>
<% end %>
<div id="fh5co-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h2>Galeria</h2>
            </div>
        </div>
        <div class="row">
            <%for blob in @blobs do%>
            <div class="col-md-4">
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup image-popup" href="<%=blob%>">
                        <img src="<%=blob%>" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" />
                    </a>
                </div>
            </div>
            <%end%>
        </div>
    </div>
</div>

<%= render "shared/rsvp" %>