
<% content_for :pre_menu do %>
<% end %>
<div id="fh5co-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h2>Videos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="gallery animate-box">
                    <a class="gallery-img popup-youtube" href="http://www.youtube.com/watch?v=u8OgHO6VE-I">
                        <img src="https://img.youtube.com/vi/u8OgHO6VE-I/0.jpg" class="img-responsive" alt="Video Dança" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery animate-box">
                    <a class="gallery-img popup-youtube" href="http://www.youtube.com/watch?v=65eHIbyka-Q">
                        <img src="https://img.youtube.com/vi/65eHIbyka-Q/0.jpg" class="img-responsive" alt="Video Cabo Frio" />
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h2>Fotos</h2>
            </div>
        </div>
        <div class="row">
            <%for blob in @blobs do%>
            <div class="col-sm-4">
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup image-popup" href="<%=blob%>">
                        <img src="<%=blob%>" class="img-responsive" alt="Image" />
                    </a>
                </div>
            </div>
            <%end%>
        </div>
    </div>
</div>

<%= render "shared/rsvp" %>